<% left ||= nil %>
<% back_link ||= :back %>
<% right ||= nil %>
<% subheader ||= nil %>
<% header_link ||= nil %>

<div class="header">
  <div class="center-content">
    <%= render 'components/header_title', header: header, subheader: subheader, header_link: header_link %>
  </div>

  <% unless left %>
    <%= link_to back_link, class: 'icon-btn bg-transparent', data: {turbolinks_animate_animation:"fadeOutRightBig", turbolinks_animate_appear: "fadeInRightBig"} do %>
      <%= render 'icons/arrow_left' %>
    <% end %>
  <% else %>

  <% end %>

  <% if right %>
    <% right.each do |button_hash| %>
      <%= link_to button_hash[:link], class: "icon-btn #{button_hash[:classes]}" do %>
        <%= render "icons/#{button_hash[:icon]}" %>
      <% end %>
    <% end %>
  <% end %>
</div>
