<%# render 'components/calendar' %>
<div data-turbolinks-animate-persist="true">
  <%= render 'components/calendar_strip' %>
  <div data-controller="dropdown" data-dropdown-open-class="fadeInExpand" data-dropdown-close-class="fadeOutShrink">
    <%= render 'components/section_header',
          title: 'Tasks',
          buttons: [
            render('components/icon_button', link:"#", icon:'bucket', classes:'icon-btn', data: { dropdown_target:"toggle", action:'click->dropdown#toggleDropdown' }),
            render('components/icon_button', link:"#", icon:'star', classes:'icon-btn', data: { filter: '.prioritised' }),
            render('components/icon_button', link:new_task_path, data: {turbolinks_animate_animation:"fadeOutLeftBig" }, icon:'plus', classes:'icon-btn-primary')] %>
    <div class="flex align-center overflow-x-scroll w-full opacity-0 max-h-0" data-dropdown-target="container">
      <% current_user.task_lists.each do |tl| %>
        <div class="bucket-filter" data-inclusive-filter=".task-list-<%= tl.id %>">
          <div class="emoji"><%= tl.emoji %></div>
          <p><%= tl.name %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>


<% unless @user_tasks.empty? %>
  <%= render 'user_tasks/user_tasks', user_tasks: @user_tasks %>
  <div class="flex justify-center pt-2">
    <%# render('components/icon_button', link:"#", icon:'eye', classes:'icon-btn rounded-full fill-transparent', data: { filter: '.incomplete' }) %>
    <button class="bg-gray-100 hover:bg-gray-200 active:bg-gray-100 focus:bg-gray-100 text-gray-400 hover:text-gray-900" data-filter='.incomplete'><%= render 'icons/check_circle' %> <span>Hide done</span><span id="active">Show done</span></button>
  </div>
  <%# render('components/icon_button', link:"#", icon:'check', classes:'icon-btn', data: { filter: '.incomplete' }) %>
<% else %>
  <p style="text-align: center">There are no tasks</p>
<% end %>
