<% task = user_task.task %>
<div class="task-container sortable-child <%= "complete" if task.completed %>"
      id="user-task-<%= user_task.id %>"
      data-sortable-id="<%= user_task.id %>"
      data-sortable-target="child"
      data-sortable-url="<%= user_position_user_task_url(user_task) %>"
      data-controller="task"
      data-task-target="task"
      data-task-toggle-url-value="<%= toggle_task_url(task) %>">
  <div class="task shadow-sm drag-handle" id="task-<%= task.id %>">
    <h5 class="task-name"><%= task.name %></h5>
  </div>
  <div class="extra-info">
    <%= link_to members_task_path(task), data: {turbolinks_animate_appear: 'fadeInRightBig', turbolinks_animate_animation:"fadeout", turbolinks_animate_duration:"2s", turbolinks_animate_delay:"1000"} do %>
      <%= render 'user_tasks/options/user_options', user_task: user_task %>
    <% end %>
    <%= link_to select_task_list_user_task_path(user_task) do %>
      <%= render 'user_tasks/options/task_list_options', user_task: user_task %>
    <% end %>
  </div>
  <%= link_to toggle_task_path(task), class: "checkbox", data: {action:"click->task#toggle"}, method: 'patch', remote: true do %>
    <%= render 'icons/check' %>
  <% end %>
</div>
